{
  "project_info": {
    "project_id": "",
    "project_number": "",
    "firebase_url": ""
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "0:000000000000:android:0000000000000000",
        "android_client_info": {
          "package_name": "nl.giejay.android.tv.immich",
          "certificate_hash": []
        }
      },
      "api_key": [
        {
          "current_key": ""
        }
      ]
    }
  ],
  "ARTIFACT_VERSION": "1"
}
