<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2020 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Access internet-based media -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Donation -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- For writing to home screen channels -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <!-- Touch screen is not required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- This is an Android TV app only (not intended for mobile) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="nl.giejay.android.tv.immich.ImmichApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:banner="@mipmap/icon_banner_v2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="nl.giejay.android.tv.immich.screensaver.ScreenSaverService"
            android:exported="true"
            android:label="Immich"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.service.dreams.DreamService" />
            </intent-filter>

            <!-- Point to additional information for this dream (optional) -->
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/screensaver" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation">

            <!-- Used as the main entry point from the leanback launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
<!--                <category android:name="android.intent.category.HOME" />-->
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.cast.tv.action.LAUNCH" />
                <action android:name="com.google.android.gms.cast.tv.action.LOAD"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- BroadcastReceiver for setting up the home screen channel -->
<!--        <receiver-->
<!--            android:name="nl.giejay.android.tv.immich.homescreenchannels.HomeScreenChannelReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!--
         ~ Options provider class for Cast Connect when CastReceiverContext
         ~ is initialised. More information can be found at -
         ~ https://developers.google.com/cast/docs/android_tv_receiver/core_features#specify_receiver_options_provider
        -->
        <meta-data
            android:name="com.google.android.gms.cast.tv.RECEIVER_OPTIONS_PROVIDER_CLASS_NAME"
            android:value="nl.giejay.android.tv.immich.castconnect.CastReceiverOptionsProvider" />

    </application>

</manifest>