name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: google-services.json and extra strings file
      env:
        GOOGLE_SERVICES_BASE64: ${{secrets.GOOGLE_SERVICES_BASE64}}
        STRINGS_OTHER_BASE64: ${{secrets.STRINGS_OTHER}}
      run: |
         echo $GOOGLE_SERVICES_BASE64 | base64 --decode > ./app/google-services.json
         echo $STRINGS_OTHER_BASE64 | base64 --decode > ./app/src/main/res/values/strings_other.xml

    - name: Decode Keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.RELEASE_KEYSTORE_BASE64 }}
      run: |
        echo "$KEYSTORE_BASE64" | base64 --decode > release-keystore.jks

    - name: Build signed APK
      env:
        RELEASE_KEYSTORE_PATH: ${{ github.workspace }}/release-keystore.jks
        RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
        RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
        RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
      run: ./gradlew assembleRelease

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
          name: immich-tv-beta.apk
          path: ./app/build/outputs/apk/release/*.apk